$headerstripcolor:#464d56;
$fontfamilyHelvetica:'Helvetica Neue';
$lightgrey:#f7f9fc;
$bordercolor:#768aa1;
$footerstrip:#627386;
$footercontent:#f1f5fa;
$footerstripcolor:#fcfcfd;
$buttoncolor:#88b6eb;
$xlargedevices:1200px;
$largedevices:991px;
$mediumdevices:767px;
$smalldevices:575px;
$xsdevices:480px;